{{ define "main" }}
{{/* Check if this is a race post */}}
{{ $category := "" }}
{{ with .GetTerms "categories" }}
	{{ $category = (index . 0).Title | lower }}
{{ end }}

{{ if eq $category "race" }}
	{{ partial "single-race.html" . }}
{{ else if eq $category "photo" }}
	{{ partial "single-photo.html" . }}
{{ else }}
<article class="h-entry">
	<header>
		{{ if .Title }}
		<h1 class="p-name"><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
		{{ end }}
		<time class="card__date dt-published">
			<span class="prefix">~</span>{{ .Date.Format "2 January 2006" }}
		</time>
	</header>
	<div class="e-content">
		{{ .Content }}
	</div>
</article>
{{ end }}
{{ if .Site.Params.include_conversation }}
<script type="text/javascript" src="https://micro.blog/conversation.js?url={{ .Permalink }}"></script>
{{ end }}
{{ end }}
