<header class="site-header">
	<a href="/" class="site-header__title">{{ .Site.Title }}</a>
	{{ with .Site.Params.header_quote }}
	<span class="site-header__quote">{{ . }}</span>
	{{ end }}
	<button class="hamburger" id="hamburger" aria-label="Toggle menu" aria-expanded="false">
		<span class="hamburger__bar"></span>
		<span class="hamburger__bar"></span>
		<span class="hamburger__bar"></span>
		<span class="hamburger__x">
			<span class="hamburger__x-bar"></span>
			<span class="hamburger__x-bar"></span>
		</span>
	</button>
</header>
