<aside class="sidebar" id="sidebar">
	<nav class="sidebar__nav">
		<ul class="sidebar__links">
			<li><a href="/"{{ if .IsHome }} class="is-active"{{ end }}>/</a></li>
			{{ range .Site.Menus.main }}
			<li><a href="{{ .URL | relLangURL | safeURL }}"{{ if eq $.Page.RelPermalink .URL }} class="is-active"{{ end }}>/{{ .Name | lower }}</a></li>
			{{ end }}
		</ul>
		{{ if or .Site.Params.author_username .Site.Params.bluesky_username .Site.Params.email }}
		<hr class="sidebar__separator" />
		<ul class="sidebar__social">
			{{ with .Site.Params.author_username }}<li><a href="https://micro.blog/{{ . }}">@Micro.blog</a></li>{{ end }}
			{{ with .Site.Params.bluesky_username }}<li><a href="https://bsky.app/profile/{{ . }}">@Bluesky</a></li>{{ end }}
			{{ with .Site.Params.email }}<li><a href="mailto:{{ . }}">@Mail</a></li>{{ end }}
		</ul>
		{{ end }}
	</nav>
	{{ with .Site.Params.header_quote }}
	<span class="sidebar__quote">{{ . }}</span>
	{{ end }}
</aside>
