<aside class="sidebar" id="sidebar">
	<nav class="sidebar__nav">
		<ul class="sidebar__links">
			<li><a href="/"{{ if .IsHome }} class="is-active"{{ end }}>/</a></li>
			{{ range .Site.Menus.main }}
			<li><a href="{{ .URL | relLangURL | safeURL }}"{{ if eq $.Page.RelPermalink .URL }} class="is-active"{{ end }}>/{{ .Name | lower }}</a></li>
			{{ end }}
		</ul>
		{{ with .Site.Params.social }}
		<hr class="sidebar__separator" />
		<ul class="sidebar__social">
			{{ with .mastodon }}<li><a href="{{ . }}" rel="me">@Mastodon</a></li>{{ end }}
			{{ with .bluesky }}<li><a href="{{ . }}">@Bluesky</a></li>{{ end }}
			{{ with .email }}<li><a href="mailto:{{ . }}">@Mail</a></li>{{ end }}
		</ul>
		{{ end }}
	</nav>
</aside>
