{{/* Single view for race posts */}}
{{/* Parse race data from content lines:
     Line 1: Race title
     Line 2: Location
     Line 3: Distance
     Line 4: Time
     Line 5: Pace
     Rest: Additional content
*/}}
{{ $lines := split .RawContent "\n" }}
{{ $raceTitle := "" }}
{{ $location := "" }}
{{ $distance := "" }}
{{ $time := "" }}
{{ $pace := "" }}
{{ $restContent := slice }}
{{ $lineCount := 0 }}

{{ range $lines }}
	{{ $trimmed := trim . " \r\n\t" }}
	{{ if $trimmed }}
		{{ if eq $lineCount 0 }}{{ $raceTitle = $trimmed }}{{ end }}
		{{ if eq $lineCount 1 }}{{ $location = $trimmed }}{{ end }}
		{{ if eq $lineCount 2 }}{{ $distance = $trimmed }}{{ end }}
		{{ if eq $lineCount 3 }}{{ $time = $trimmed }}{{ end }}
		{{ if eq $lineCount 4 }}{{ $pace = $trimmed }}{{ end }}
		{{ if gt $lineCount 4 }}{{ $restContent = $restContent | append $trimmed }}{{ end }}
		{{ $lineCount = add $lineCount 1 }}
	{{ end }}
{{ end }}

<article class="h-entry">
	<header class="single-race__header">
		<h1 class="p-name">{{ $raceTitle }}</h1>
		<div class="single-race__meta">
			<time class="card__date dt-published" datetime="{{ .Date.Format "2006-01-02" }}">
				<span class="prefix">~</span>{{ .Date.Format "2 January 2006" }}
			</time>
			{{ with $location }}
			<span class="card__location p-location">
				<span class="prefix">@</span>{{ . }}
			</span>
			{{ end }}
		</div>
	</header>
	<div class="card__stats">
		{{ with $distance }}
		<div class="card__stat">
			<div class="card__stat-value">{{ . }}</div>
			<div class="card__stat-label">distance</div>
		</div>
		{{ end }}
		{{ with $time }}
		<div class="card__stat">
			<div class="card__stat-value">{{ . }}</div>
			<div class="card__stat-label">time</div>
		</div>
		{{ end }}
		{{ with $pace }}
		<div class="card__stat">
			<div class="card__stat-value">{{ . }}</div>
			<div class="card__stat-label">pace</div>
		</div>
		{{ end }}
	</div>
	{{ if $restContent }}
	<div class="single-race__content e-content">
		{{ delimit $restContent "\n\n" | markdownify }}
	</div>
	{{ end }}
</article>
