@font-face {
	font-family: 'Departure Mono';
	src: url('/fonts/DepartureMono-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Host Grotesk';
	src: url('/fonts/HostGrotesk-VariableFont_wght.ttf') format('truetype');
	font-weight: 300 800;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Host Grotesk';
	src: url('/fonts/HostGrotesk-Italic-VariableFont_wght.ttf') format('truetype');
	font-weight: 300 800;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Inter';
	src: url('/fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype');
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Inter';
	src: url('/fonts/Inter-Italic-VariableFont_opsz,wght.ttf') format('truetype');
	font-weight: 100 900;
	font-style: italic;
	font-display: swap;
}

:root {
	--bg: #f7f7f4;
	--text: #2a2720;
	--text-secondary: oklch(from #2a2720 l c h / 60%);
	--text-tertiary: oklch(from #2a2720 l c h / 40%);
	--accent: #ff5800;

	--font-headings: 'Host Grotesk', ui-sans-serif, system-ui, sans-serif,
		'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
	--font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif,
		'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
	--font-mono: 'Departure Mono', ui-monospace, SFMono-Regular, Menlo, Monaco,
		Consolas, 'Liberation Mono', 'Courier New', monospace;

	--text-sm: clamp(0.89rem, 0.02vi + 0.88rem, 0.9rem);
	--text-base: clamp(1rem, 0.23vi + 0.94rem, 1.13rem);
	--text-md: clamp(1.13rem, 0.51vi + 1rem, 1.41rem);
	--text-lg: clamp(1.27rem, 0.89vi + 1.04rem, 1.76rem);
	--text-xl: clamp(1.42rem, 1.41vi + 1.07rem, 2.2rem);
	--text-xxl: clamp(1.6rem, 2.08vi + 1.08rem, 2.75rem);
	--text-xxxl: clamp(1.8rem, 2.97vi + 1.06rem, 3.43rem);
}

@media (prefers-color-scheme: dark) {
	:root {
		--bg: #121212;
		--text: #eeeeee;
		--text-secondary: oklch(from #eeeeee l c h / 60%);
		--text-tertiary: oklch(from #eeeeee l c h / 40%);
	}
}

html {
	background-color: var(--bg);
	color: var(--text-secondary);
	font-family: var(--font-sans);
	line-height: 1.5;
	font-size: 16px;
}

body {
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 16px;
}

h1,
h2 {
	font-family: var(--font-headings);
	color: var(--text);
	font-weight: 400;
}

h1 {
	font-size: var(--text-xxxl);
	line-height: 1.1;
}

h2 {
	font-size: var(--text-xxl);
	line-height: 1.2;
}

a {
	color: inherit;
	text-decoration: none;
}

:not(h1, h2, h3, h4, h5, h6) > a {
	font-family: var(--font-mono);
}

article header h1 a {
	color: var(--text);
}

article header h1 {
	margin-block-end: 0.2em;
}

article header time {
	color: var(--text-secondary);
}

main {
	margin: 32px 0 32px 0;
}

body > header h1 {
	font-size: 2.8em;
	padding-bottom: 0px;
}

menu {
	list-style: none;
	padding: 0;
}

menu li {
	display: inline;
}

menu li:after {
	content: ' | ';
	color: var(--text-tertiary);
}

menu li:last-child:after {
	content: '';
}

header {
	margin-bottom: 16px;
}

menu {
	margin-bottom: 32px;
}

footer {
	margin-top: 32px;
}

article {
	margin: 32px 0 64px 0;
}

hr {
	border: none;
	border-top: 1px double var(--text-tertiary);
	color: var(--text-tertiary);
	overflow: visible;
	text-align: center;
	height: 4px;
}

hr:after {
	background: var(--bg);
	content: 'ยง';
	padding: 0 4px;
	position: relative;
	top: -0.7em;
}

blockquote {
	border-left: 2px solid var(--accent);
	padding-left: 1em;
	margin-left: 1em;
}

code {
	font-family: var(--font-mono);
	color: var(--accent);
	background-color: oklch(from var(--accent) l c h / 10%);
	padding: 3px;
	border-radius: 0.4em;
	font-size: 16px;
}

pre {
	background-color: oklch(from var(--accent) l c h / 10%);
	border-radius: 0.4em;
}

pre code {
	background-color: inherit;
}

img,
video,
iframe {
	max-width: 100%;
	height: auto;
}

.microblog_conversation {
	margin: 16px 0;
}

.microblog_post {
	padding-top: 16px;
	margin: 16px 0;
	border-top: 1px solid var(--text-tertiary);
}

.microblog_avatar {
	border-radius: 1em;
}

.microblog_time a {
	color: var(--text-secondary);
}

.bookshelf_book {
	min-height: 140px;
	margin-top: 4px;
	margin-bottom: 8px;
}

.bookshelf_book img {
	min-height: 100px;
	width: 80px !important;
	min-width: 80px !important;
	max-height: 140px !important;
	margin-right: 8px;
	padding-right: 0 !important;
	border-radius: 6px !important;
	background-color: var(--text-tertiary);
	justify-content: center;
}

.bookshelf_author {
	color: var(--text-secondary);
	font-weight: 500;
	font-size: 1em;
}

.bookshelf_title {
	font-weight: 600;
	font-size: 1em;
}

.font-mono {
	font-family: var(--font-mono);
}
